/*!
  Theme Name:  CLA Workstation Ordering Application
  Theme URI:   https://github.tamu.edu/liberalarts-web/cla-wsorder.git
  Author:      Zachary Watkins
  Author URI:  https://liberalarts.tamu.edu/
  Description: Genesis child theme for the College of Liberal Arts Workstation Ordering Application
  Version:     0.1.0
  License:     GPL-2.0+
  License URI: http://www.gnu.org/licenses/gpl-2.0.html
  Text Domain: cla-wsorder
  Template:    genesis
*/
