@charset "utf-8";

$admin: true;

@import "foundation";
@import "settings";
@include foundation-xy-grid-classes(
	$base-grid: true,
	$margin-grid: false,
	$padding-grid: true,
	$block-grid: false,
	$collapse: true,
	$offset: false,
	$vertical-grid: false,
	$frame-grid: false
);
